// main colors
$m-black: #2C363F;
$m-white: #FCFAFA;
$m-grey: #9E949D;
$m-blue: #429EA6;
$m-green: #1EA896;

// accents
$a-rich-black: #0A121A;
$a-charcoal: #2A3F54;
$a-celtic-blue: #066ACF;
$a-silver-metallic: #ABB1B8;
$a-black-coral: #45596E;
